/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-field {
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-text-fill: white;
}


.buttons{
    -fx-background-color: #00ADE5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 100px;

}


.buttonsCancelar{
    -fx-background-color: #DF2E1C;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 100px;
}

.cuadros{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: grey;
    -fx-border-radius: 5;

}


/* TabPane effects*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:100px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #00ADE5;
    -fx-border-radius: 5;
    -fx-pref-height: 30px;
    -fx-text-alignment: center;


}

.tab-pane .tab:selected
{
    -fx-background-color: #00ADE5;
    -fx-border-color: #00ADE5;
    -fx-font-size: 12px;
    -fx-border-radius: 2;


}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tabla {
    -fx-background-color: transparent;
    /*    -fx-border-width: 1 1 1 1;
        -fx-border-color: grey;
        -fx-border-radius: 5;*/
    -fx-alignment: center;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #808080;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-border-style: none;
}

.table-row-cell{
    -fx-background-color: transparent;
    /*    -fx-background-color: -fx-table-cell-border-color, #616161;*/
    /*    -fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;  0 */
    -fx-border-style: none;
}

.table-row-cell:odd{

    -fx-background-color: #424242;
/*    -fx-background-color: -fx-table-cell-border-color, #424242;
        -fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;  0 */  
    -fx-border-style: none;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    /*    -fx-background-insets: 0;
        -fx-background-radius: 1;*/
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.botonSalir {
  -fx-background-color: white, white;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 15;
  -fx-border-width: 2;
  -fx-border-color: dimgrey;
  -fx-padding: 0;
  -fx-font-size: 0;
  -fx-text-fill: black;
  -fx-pref-width: 100px;
}

.botonSalir:focused {
  -fx-background-color: -fx-focus-color, white;
}

